body {
  margin: 0;
  padding: 0;
  background-color: #52b788;
}

#header {
  background-color: #bc4749;
  color: white;
  text-align: center;
  padding: 1em;
  font-family: "Courier New", Courier, monospace;
}

#temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainContainer {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 324px;
  column-gap: 128px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

#inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#numOfDiceLabel {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  margin-right: 20px;
  font-size: 18px;
}

#numOfDiceInput {
  width: 80px;
  text-align: center;
  height: 30px;
  border: none;
  border-radius: 8px;
}

#buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#rollButton {
  background-color: #f2e8cf;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  width: 300px;
  height: 60px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#rollButton:hover {
  background-color: #e0d4b8;
}

#diceTextResult {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#diceImageResult {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  row-gap: 24px;
  column-gap: 12px;
}

#diceImageResult img {
  width: 100px;
  height: 100px;
}
