body {
    background-color: rgb(22, 22, 22);
}

h1 {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: none;
}

img.diplaySlide {
    display: block;
    animation: fade 0.4s;
}

@keyframes fade {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.408);
    border: none;
    color: white;
    cursor: pointer;
}

.prevButton {
    left: 4px;
}

.nextButton {
    right: 4px;
}