#reveal {
  font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    padding: 12px 24px;
    border-radius: 24px;
    border: none;
    background-color:bisque;
    margin-top: 16px;
    cursor: pointer;
}
